doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/main.js')
    <audio autoplay loop> 
    <source src="love.mp3">
    </audio>
  
  body
    div(id="header")
        center
            h1 CRAPPY TWITTER
    block content